<ion-view hide-nav-bar="true" on-swipe-right="goTo('auth')">
  <ion-content class="padding bg-intro">
    <div class="logo-sm">
        <img src="img/logo_hack_a_i_r_small_rect_light_b_g.svg" />
    </div>
    <div class="">
      <div class="auth-tabs-nav forgot-nav">
        <a ng-class="{'auth-tab-nav-active': vm.isTabActive('forgot')}" class="auth-tab-nav auth-tab-nav-active" ng-click="vm.setTabActive('forgot')">
          <span style="color:black; font-size: 14px;" class="tab-title ng-binding">{{ 'auth.forgot_password' | translate }}</span>
        </a>
      </div>
      <div style="margin-top:10px;" class="auth-tabs-content auth-tab-forgot-height">
        <!-- Forgot password form -->
        <form class="forgot-form form" name="vm.forgotForm" novalidate>
          <div class="auth-tab-forgot auth-tab-active">

            <div class="auth-input">
              <div class="auth-input-icon">
                <img src="img/icon_email.svg" />
              </div>
              <input style="padding:5px;" type="email" name="email" ng-model="vm.user.email" minlength="5" placeholder="email" required>
              <!-- <span class="auth-input-label" aria-label="Email" ng-hide="vm.forgotForm.email.$touched && vm.forgotForm.email.$invalid" ng-show="vm.forgotForm.email.$valid && vm.forgotForm.email.$touched">{{ 'auth.email' | translate }}</span> -->

              <span class="input-error auth-input-label" style="font-size:13px; color: #ff6666" ng-messages="vm.forgotForm.email.$touched && vm.forgotForm.email.$error" role="alert">
                <div ng-message="email">{{ vm.loginForm.message.email[0] }}</div>
              </span>
            </div>

            <div style="margin-top: 5px;" class="auth-actions">
              <button class="button button-assertive" ng-click="vm.sendReset()">{{ 'auth.reset' | translate }}</button>
            </div>

          </div>
        </form>
      </div>

    </div>
  </ion-content>
</ion-view>
