<ion-view title="{{ 'auth.reset_password_heading' | translate }}" hide-back-button="false" can-swipe-back="true">
  <ion-nav-bar class="bar-assertive">
    <ion-nav-back-button class="button-clear">
      <i class="ion-arrow-left-c"></i> {{ 'general.back' | translate }}
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="profile edit">
    <div class="card list info">
      <label class="item item-input">
        <span class="input-label">{{'profile.edit_password.new_password' | translate}}</span>
        <input type="password" ng-model="vm.user.password" required minlength="4">
        <span class="input-error auth-input-label" style="font-size:13px; color: #ff6666" ng-messages="vm.resetForm.password.$touched && vm.resetForm.password.$error" role="alert">
          <div ng-message="required">{{'auth.password_required' | translate}}</div>
          <div ng-message="minlength">{{'auth.password_min_length' | translate}}</div>
          <div ng-message="maxlength">{{'auth.password_max_length' | translate}}</div>
        </span>
      </label>
      <label class="item item-input">
        <span class="input-label">{{'profile.edit_password.repeat_new_password' | translate}}</span>
        <input type="password" ng-model="vm.user.confirm_password" required minlength="4" compare-to="vm.user.password">
        <span class="input-error" ng-messages="resetForm.confirm.$touched && resetForm.confirm.$error" role="alert">
          <div ng-message="required">{{'auth.repeat_password_required' | translate}}</div>
          <div ng-message="minlength">{{'auth.repeat_password_min_length' | translate}}</div>
          <div ng-message="compareTo">{{'auth.repeat_password_no_match' | translate}}</div>
        </span>
      </label>
    <div class="photo-actions">
      <button class="button button-assertive" ng-click="vm.goBackToEdit()">{{ 'general.cancel' | translate }}</button>
      <button class="button button-calm" ng-click="vm.resetPassword()">{{ 'auth.reset' | translate }}</button>
    </div>
  </ion-content>
</ion-view>
