<ion-tabs class="tabs-calm tabs-icon-only">
    <ion-tab icon-on="home-x-on" icon-off="home-x-off" ui-sref="home">
    </ion-tab>
    <ion-tab title="Take a photo" icon-on="camera-on" icon-off="camera-off" ui-sref="photo">
    </ion-tab>
    <ion-tab title="Perception" icon-on="perception-on" icon-off="perception-off" ui-sref="perception">
    </ion-tab>
    <ion-tab title="Map" icon-on="map-on" icon-off="map-off" ui-sref="map">
    </ion-tab>
    <ion-tab title="Profile" icon-on="notifications-on" icon-off="notifications-off" ui-sref="profile.view">
    </ion-tab>
</ion-tabs>
